<div class="cointainer">
 <div class="form-group">
  <h4>CATEOGRY:ID</h4><input class="form-control" type="number" [(ngModel)]="cat_id" required>
</div>
<div class="form-group">
    <h4> CATEOGRY NAME:</h4><input class="form-control" type="text" [(ngModel)]="cat_name">
    </div>

          <div class="form-group">
              <h4>ISACTIVE:</h4><select class="form-control"  [(ngModel)]="isactive">
                <option *ngFor="let item of arr1">{{item}}</option>
                </select>
                <button (click)="onSave()">SAVE</button>
            </div>
            </div>
