<div class="container">
  <div class="form-group">
    <h4>ID:</h4> <input class="form-control" type="number" [(ngModel)]="id">
  </div>
  <div class="form-group">
      <h4>NAME:</h4> <input class="form-control" type="text" [(ngModel)]="name">
    </div>
    <div class="form-group">
        <h4>PRICE:</h4> <input class="form-control" type="number" [(ngModel)]="price">
      </div>
      <div class="form-group">
        <h4>IMAGE:</h4> <input class="form-control" type="file" (change)="onChange($event)">
      </div>
      <div class="form-group">
          <h4>MANUFACTERER:</h4> <input class="form-control" type="text" [(ngModel)]="mfg">
        </div>


            <div class="form-group">
                <h4>stock on hand</h4><select class="form-control" [(ngModel)]="soh">
                  <option *ngFor="let item of arr1">{{item}}</option>


                </select>
            </div>


  <br>
<button (click)="onAdd()">Add</button>



</div>

              <div *ngFor="let item of arr;let i=index" class="col-sm-6 col-md-4">
              <p><a class="btn btn-primary" role="button" (click)="onDelete(item)">DELETE</a> <a class="btn btn-default" role="button" (click)="onUpdate(item)">UPDATE</a></p>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{item.name}}</mat-card-title>
                  <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="http://localhost:3000/images/product_img/{{item.image}}" alt="Photo of a Shiba Inu">
                <mat-card-content>

                </mat-card-content>
                <mat-card-actions>
                  <button mat-button (click)="onDelete(item)">DELETE</button>
                  <button mat-button (click)="onUpdate(item)">Update</button>
                </mat-card-actions>
              </mat-card>
              </div>







