table
{

  height:200px;
  width:500px;
  border:1px solid black;
  margin-top: 100px;


}
tr,td,th{
  border:1px solid black;
}


tr:hover{
  background-color: red;
}
tr:nth-child(odd){
  color:blueviolet;
}
