 <!-- <div class="container">
  <input type="number" #txtid>
  <input type="text" #txttitle>
  <select #op1>
    <option *ngFor="let item of arr1">{{item}}</option>
  </select>
  <button (click)="onAdd(txtid.value,txttitle.value,op1.value)">add</button>
</div>

<table align="center">
  <tr>
    <th>Id</th>
    <th>title</th>
      <th>status</th>
      <th>action</th>
  </tr>
  <tr *ngFor="let item of tasks;let i=index">
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>{{item.status}}</td>
    <td>
      <button (click)="onDelete(i)">Delete</button> -->


        <!-- <button (click)="onDelete(item)" type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> delete
        </button>  



       
      <button (click)="onUpdate(item)" type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> update
        </button> 


</td>
  </tr>
</table>   -->

 <div [hidden]="this.arr.length>0">
  <mat-spinner></mat-spinner>
</div>
<form>
  <mat-form-field class="example-full-width">
    <input matInput name="id" [(ngModel)]="id" type="number" placeholder="ID">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput name="title" [(ngModel)]="title" type="text" placeholder="title">
  </mat-form-field>
  <br>
  <mat-label>Employee Gender</mat-label><br><br>
  <mat-radio-group name="status" [(ngModel)]="status">
    <mat-radio-button value="Done">Done</mat-radio-button>
    <mat-radio-button value="Pending">Pending</mat-radio-button>
  </mat-radio-group>

</form>
<button (click)="onAdd()">add</button>

<br><br>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>


  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>


  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> STATUS </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> ACTION </th>
      <td mat-cell *matCellDef="let element"><button (click)="onDelete(element)" type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> delete
        </button>
 </td>
    </ng-container>


    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef> select </th>
        <td mat-cell *matCellDef="let element"> <input type="checkbox" (change)="onCheckChange(element)"> </td>
      </ng-container>










  <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<button (click)="onDel1()">DELETE ALL</button>
<mat-paginator [pageSizeOptions]="[1,2,5]"></mat-paginator>

